@media screen and (max-width: 920px) {
  header nav strong {
    display: block;
  }

  header nav a {
    display: none;
  }

  .mainMovie .title {
    font-size: 2rem;
  }

  .mainMovie .description {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 745px) {
  .navLeft ul li:nth-child(2n) {
    display: none;
  }
  .navLeft ul li:nth-child(3) {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  header .container {
    flex-direction: column;
  }

  .navLeft {
    margin-top: 15px;
  }

  .buttons {
    display: block;
    text-align: center;
  }
  .button {
    margin-bottom: 10px;
  }

  .mainMovie .container {
    margin: 0 auto;
  }

  .mainMovie .title {
    display: block;
    margin: 0 auto;
    font-size: 1.5rem;
  }

  .mainMovie .description {
    margin: 10px auto 40px auto;
    text-align: center;
    font-size: 0.6rem;
    width: 250px;
  }
}
