@media screen and (max-width: 920px) {
  header nav strong {
    display: block;
  }

  header nav a {
    display: none;
  }

  .mainMovie .title {
    font-size: 2rem;
  }

  .mainMovie .description {
    font-size: 0.75rem;
  }
}
